# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.log

# Tooling & Junk
autom4te.cache/
config.log
src/.deps/
src/.libs/
src/test-main.c
src/main
stamp-h1
tests/.deps/
tests/.libs/
tests/check_roman
tests/check_roman.trs

